// Grayscale
$black:       #000 !default;
$gray-dark:   #333 !default;
$gray-medium: #bbb !default;
$gray-light:  #e3e3e3 !default;
$light:       #f9f9f9 !default;
$white:       #fff !default;

// Brand
$primary:   #0074D9 !default;
$secondary: #39CCCC !default;
$tertiary:  #FFDC00 !default;
$error:     #FF4136 !default;

$grayscale: (
  black:       $black,
  gray-dark:   $gray-dark,
  gray-medium: $gray-medium,
  gray-light:  $gray-light,
  light:       $light,
  white:       $white
) !default;

$brandscale: (
  primary:     $primary,
  secondary:   $secondary,
  tertiary:    $tertiary,
  error:       $error
) !default;