<div class="title-block <%= content.title_block_class %>">
  <% if(content.kicker){ %> <h6><%= content.kicker%></h6> <%}%>
  <% if(content.title){ %>  <h3><%= content.title %></h3> <%}%>
  <% if(content.text){ %>   <p><%= content.text%> </p> <%}%>
</div>
