<section class="callout-section <%= content.class %>">
  <div class="container">
    <%- include(`./blocks/image_block`, {content: content}); %>
    <div class="callout-content">
      <%- include(`./blocks/title_block`, {content: content}); %>
      <%- include(`./blocks/cta_block`, {content: content}); %>
    </div>
  </div>
</section>

<link rel="stylesheet" href="./assets/styles/callout.css">